<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /justfans/

    # Allow existing files and folders
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect everything else to index.php
    RewriteRule ^ index.php [L]

    Options -Indexes

    <FilesMatch "\.(env|config.js|md|gitignore|gitattributes|lock)$">
        Order allow,deny
        Deny from all
    </FilesMatch>
</IfModule>
